# .github/workflows/sync-labels.yml

name: Sync Labels

on:
  workflow_dispatch: # Actions 탭에서 수동으로 실행 가능

jobs:
  sync-labels:
    runs-on: ubuntu-latest
    steps:
      - name: Sync Labels
        uses: micnncim/action-label-syncer@v1
        with:
          # 템플릿 레포지토리의 labels.yml 파일을 사용하도록 경로를 명시
          manifest: 'Chunwol/github-templates/.github/labels.yml'
          
          # YourUsername을 본인 깃허브 아이디로, 
          # YourTemplateRepo를 템플릿 레포지토리 이름으로 변경해주세요.
          
          token: ${{ secrets.GITHUB_TOKEN }}
